<template>
<div>
  <div  class="row">
    <div v-for="list in original_lists" :key= "list.id" class="col-3">
      <h6>{{ list.name }}</h6>
      <hr/>
    </div> 
  </div>
  <br>
  <div class="v-suggestions">
    <input type="text" placeholder="search any thing .." class="v-suggestions-input" v-model="sFilter" @keyup="seachfilter">
      <div class="suggestions">
        <ul class="items" >
          <li class="item"
            :key="list.id"
            v-for="(list, index) in todosearchfilter"
            @dblclick="choosethis(list)" @click="choosethis(list)" >
            <slot name="item">
              {{list.name}}
            </slot>
          </li>
        </ul>
      </div>
  </div><br>
  </div>

</template>

<script>
import draggable from 'vuedraggable'
export default {
  components: { draggable },
  props: ["original_lists"],
  data: function(){
    return {
      message: {},
      lists: this.original_lists,
      sFilter: '',
      search: '',
    }
  },
  computed: {
    todosearchfilter(){
         if (this.search != ''){
          return this.lists.filter(list => {
        return list.name.toLowerCase().includes(this.search.toLowerCase())
      }).sort((a, b) => 1 * a.name.localeCompare(b.name))
      }
      }
  },
  methods: {
    SubmitMessages: function(list_id){
      var data = new FormData
      data.append("card[list_id]", list_id)
      data.append("card[name]", this.messages[list_id])

      Rais.ajax({
        url: "/cards",
        type: "POST",
        data: data,
        dataType: "json",
        success: (data) => {
          const index = this.lists.findIndex(item => item.id == list_id)
          this.lists[index].cards.push(data)
          this.messages[list_id] = undefined

        }
      })
    },
    seachfilter(){
       this.search = this.sFilter
      },
      choosethis(list){
       this.sFilter = list.name
       this.search = ""
      }
  }
}
</script>

<style scoped>
.dragArea{
  min-height: 10px;
}
.board{
  white-space: nowrap;
  overflow-x: auto;
}
.list{
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 270px;
}
p {
  font-size: 2em;
  text-align: center;
}
.todo-input {
  width:100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom:16px;
   }
.todo-item-left {
       display: flex;
       align-items: center;
   }

   .todo-item-label {
       padding: 10px;
       border: 1px solid white;
       margin-left: 12px;
   }

   .v-suggestions {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.v-suggestions .suggestions {
  position: absolute;
  left: 0;
  top: 36px;
  width: 100%;
  z-index: 100;
  background: #ffffff;
}

.v-suggestions .items {
  list-style: none;
  border: 1px solid #EEE;
  margin: 0;
  padding: 0;
  border-width: 0 1px 1px 1px;
}

.v-suggestions .item {
  border-bottom: 1px solid #eee;
  padding: .4rem;
}

.v-suggestions .items .item.is-active, .v-suggestions .items .item:hover {
  background: #eee;
  cursor: pointer;
}

.v-suggestions-input {
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  max-width: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.v-suggestions-input:focus, .v-suggestions-input:active {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  outline: none;
}


</style>
